body {
  font-family: 'KoHo', sans-serif;
  color: #f2f4fb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(171.8deg, rgb(238, 156, 167) 13.8%, rgb(246, 204, 162) 82.6%);
  margin: 0;
}

h3 {
  margin: 0;
}

.game-board {
  display: grid;
  height: 90vh;
  width: 90vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.playable {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: black solid .5px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.UI-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  justify-content: center;
  height: 60vh;
  width: 60vw;
  position: absolute;
}

.profit {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid white;
}

.drawCard {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  border: 1px solid white;
}

.game-messages {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid white;
}

form {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.stort {
  grid-column: 4;
  grid-row: 2;
  text-align: center;
}


.invest {
  grid-column: 5;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid white;
}

.rollDice {
  grid-column: 5;
  grid-row: 2;
  text-align: center;
  border: 1px solid white;
}

