body {
  font-family: 'KoHo', sans-serif;
  color: #f2f4fb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(171.8deg, rgb(238, 156, 167) 13.8%, rgb(246, 204, 162) 82.6%);
  margin: 0;
}

h3 {
  margin: 0;
}

.game-board {
  display: grid;
  height: 90vh;
  width: 90vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.playable {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 45%;
  margin: 0.5px;
  border-radius: 7px;
}


.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.winOrLoseMessage {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.tweets {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 1;
}

.UI-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  justify-content: center;
  height: 60vh;
  width: 60vw;
  position: absolute;
}


.profit {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profit-goals {
  cursor: context-menu;
}

.drawCard {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.drawMe {
  cursor: pointer;
  font-size: 24px;
  border-radius: 7px;
  background: #ffd3b6;
  color: rgb(59, 52, 52);
}

.drawMe:hover {
  cursor: pointer;
  font-size: 24px;
  border-radius: 7px;
  background: rgb(59, 52, 52);
  color: #ffd3b6;
}

.game-messages {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  min-height: auto;
  max-height: 20vh;
  overflow: scroll;
  text-align: center;
  font-size: small;
  color: black;
  border-radius: 7px;
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}

form {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}

.goToHome {
  cursor: crosshair;
}

.stort {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

.playNow {
  border-radius: 36%;
  cursor: copy;
  font-size: 24px;
  background: #affcd2;
  color: rgb(65, 99, 99);
}

.playNow:hover {
  border-radius: 36%;
  cursor: copy;
  font-size: 24px;
  background: rgb(65, 99, 99);
  color: #affcd2;
}

.invest {
  grid-column: 5;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.initial-invest {
  cursor: context-menu;
}

.rollDice {
  grid-column: 4;
  grid-row: 2;
  text-align: center;
}

.rollMe{
  cursor: pointer;
  font-size: 24px;
  border-radius: 7px;
  background: #ffd3b6;
  color: rgb(59, 52, 52);
}
.rollMe:hover {
  cursor: pointer;
  font-size: 24px;
  border-radius: 7px;
  background: rgb(59, 52, 52);
  color: #ffd3b6;
}

