body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 100vh;
  margin: 0;
  border: 1px solid green;
}

h1, h2, h3 {
  text-align: center;
  padding: 7px;
  border: 1px solid red;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
  border: 1px solid blue;
}

input {
  display: grid;
  grid-template-rows:1fr 1fr 1fr;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
}

.game-board {
  display: grid;
  height: 70vh;
  width: 70vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.playable {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}