body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 100vh;
  margin: 0;
}

.game-board {
  display: grid;
  height: 70vh;
  width: 70vw;
  border: 2px solid black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}